/*pequeno [s] */
@media (min-width: 256px){
body{
    display: block;
}
header{
    display: block;
    width: auto;
}
nav{
    display: block;
    width: auto;
}
main{
    display: block;
    width: auto;
}
section{
    display: block;
    width: auto;
}
aside{
    display: block;
    width: auto;
}
footer{
    display: block;
    width: auto;
}
}
@media (min-width: 768px) {
    body{
        display: grid;
        grid-template:  "a a a"
                        "b b b"
                        "c c d"
                        "e e e";
    }
    header{
        grid-area: a;
        display: block;
    }
    nav{
        grid-area: b;
        display: flex;
        justify-content: space-around;
        align-content: space-between;
    }    
    main{
        grid-area: c;
        width: auto;
    }
    section{
        grid-area: e;
        width: auto;
    }
    aside{
        grid-area: d;
        width: auto;
    }
    footer{
        grid-area: e;
    }
}